                            /*-- Use For Custom Styling --*/
                            /* Global */
                            
                            @font-face {
                                font-family: 'Bungee Inline';
                                src: url('fonts/bungee/BungeeInline-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
                            }
                            /* Section 1 */
                            
                            .background-cover-page {
                                background: url('../img/fondoPortada3.jpg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-attachment: fixed;
                            }
                            
                            .logo-wise {
                                position: absolute;
                                display: inline-block;
                                z-index: 50;
                                margin-left: auto;
                                margin-right: auto;
                                left: 0;
                                right: 0;
                                text-align: center;
                                padding-top: 80px;
                            }
                            
                            .motivation {
                                margin-left: auto;
                                margin-right: auto;
                                left: 0;
                                right: 0;
                                text-align: center;
                                margin-top: 80px;
                            }
                            
                            .motivation-text-shadow {
                                text-shadow: 2px 2px 15px white;
                            }
                            
                            .egresados-shadow {
                                text-shadow: 1px 1px 2px black;
                                padding-top: 40px;
                            }
                            
                            .bg-pink-two {
                                background-color: #ffc42a;
                            }
                            
                            .create-btn {
                                font-size: 25px;
                                font-weight: 600;
                            }
                            
                            .rev_slider .btn-setting {
                                border: none;
                                margin-top: 140px;
                            }
                            
                            .navbar-top-default {
                                font-weight: 800;
                                background-color: rgba(255, 255, 255, 0.4);
                            }